project_name        = "dc-absolute-data-pipeline"
aws_region          = "us-east-1"

api_key             = "<COMICVINE_API_KEY>"

s3_bronze_bucket              = "dc-absolute-data-pipeline-bronze-<suffix>"
s3_silver_bucket              = "dc-absolute-data-pipeline-silver-<suffix>"
s3_gold_bucket                = "dc-absolute-data-pipeline-gold-<suffix>"
athena_query_results_bucket   = "dc-absolute-data-pipeline-athena-results-<suffix>"
s3_control_bucket             = "dc-absolute-data-pipeline-control-<suffix>"
glue_scripts_bucket           = "dc-absolute-data-pipeline-glue-<suffix>"

# Find the right ARN for your region at https://aws-sdk-pandas.readthedocs.io/en/stable/layers.html
aws_wrangler_layer_arn                                = "arn:aws:lambda:us-east-1:336392948345:layer:AWSSDKPandas-Python311:31"
lambda_function_name_fetch_volumes                    = "dc-absolute-fetch-volumes"
lambda_function_name_detect_changed_volumes           = "dc-absolute-detect-changed-volumes"
lambda_function_name_fetch_issues_for_changed_volumes = "dc-absolute-fetch-issues-changed-volumes"
lambda_function_name_detect_changed_issues            = "dc-absolute-detect-changed-issues"
lambda_function_name_fetch_changed_issues_details     = "dc-absolute-fetch-changed-issues-details"

athena_database_name = "absolute"

step_function_name = "dc-absolute-pipeline"

glue_job_name       = "dc-absolute-bronze-to-silver"
glue_warehouse_path = "s3://dc-absolute-data-pipeline-silver-<suffix>/warehouse/"

lambda_function_name_send_pipeline_notification = "dc-absolute-send-pipeline-notification"
ses_sender_email    = "your-verified-sender@example.com"
ses_recipient_email = "your-recipient@example.com"
